@charset "ISO-8859-1";


.root
{
	display :block;
}
body
{
	background-image:  url("images/register.jpg");
	background-repeat: no repeat;
	background-size: cover;
}
.main
{
	height:625px;
	width: 500px;
	border : 1px solid white;
    box-shadow: 5px 5px 5px 5px;
	margin-left: 650px;
	margin-top: 10px;
	/*background-color: darkblue;*/
	
}
.register
{
	margin-left: 100px;
	margin-top: 50px;
}
h2
{
	text-align: center;
	font-family: bold;
	font-size: 40px;
}
.button
{
	height: 40px;
	width: 130px;
	border-radius: 40px;
	background-color:darkgreen;
	color: white;
	margin-left:200px;
}

.textbox
{
	margin-left: 120px;
	height: 40px;
	width: 250px;
	border-radius: 25px;
	text-align: center;
	
}
label
{
font-size: 20px;
margin-left: 100px;	
}






